{$HOSTNAME} {
    tls me@wwr.icu
    encode gzip

    handle_path /api/* {
        reverse_proxy {
            to http://basic-service:8000
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    handle_path /* {
        reverse_proxy {
            to http://blog-page:3000
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    log {
        format console
        output file /var/log/caddy.log
    }
}

{$ADMIN_HOSTNAME} {
    tls me@wwr.icu
    encode gzip

    handle_path /api/* {
        reverse_proxy {
            to http://basic-service:8000
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    handle /gp {
        reverse_proxy {
            to http://v2ray:8443
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

      handle /bp {
        reverse_proxy {
            to http://bad_proxy:8443
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    handle_path /* {
        root * /root
        file_server
        try_files {path} {path}/ /index.html
    }

    log {
        format console
        output file /var/log/proxy.log
    }
}
