:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-upload {
  width: 300px !important;
  height: 200px !important;
}

@media (max-width: 640px) {
  .max-sm-flex-wrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .max-lg\:hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .lg\:hidden {
    display: none;
  }
}
